#!/usr/bin/env ruby
preprocess do
  # authors may unpublish items by setting meta attribute publish: false
  items.delete_if { |item| item[:publish] == false }
  copy_static
  create_tag_pages
  add_update_item_attributes
end
BYPASS_FILES = %w(sitemap.xml crossdomain.xml humans.txt robots.txt google50ee0c7d896350a0.html) unless defined?(BYPASS_FILES)
BYPASS_FILES.each do |file|
  compile("/#{file.sub /\..+/, ''}/") do
  end
end
compile '/assets/css/*/' do
end
compile '/files/*/' do
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
          case item[:extension]
            when 'erb'
              fileter :erb
            when 'md', 'markdown'
              filter :erb
              filter :rdiscount
            when 'haml'
              filter :haml
            else
              filter :erb
          end
  end
  layout 'default' unless item[:layout] == "none" 
end


BYPASS_FILES.each do |file|
  route("/#{file.sub /\..+/, ''}/") do
    "/#{file}" # route bypass files as is
  end
end

route '/assets/css/*/' do
  item.identifier.chop + '.css'
end
route '/files/*/' do
  item.identifier.chop + '.' + item[:extension]
end


route '*' do
  route_path(item)
end

layout '*', :haml, :format => :html5
