---
---
.created_at
  - url = "#{route_path(item)}"
  %span 
    %a(href="#{url}" title="Full article" class="permalink")= "&laquo; #{item[:title]}"
    &middot;
    = pretty_time(item[:created_at]) || "-"
      

